blanco = #fff
gris = #566C7F
azul = #22A1E7
negro = #151A1E
texto = "futura-pt"
titulo = "proxima-nova"

body
	font-size 16px
	font-family texto
	font-weight 400
header
	height 6.625em
	position relative
	aside
		position absolute
		right 0
		top 2em
		div
			background url("../img/iconos.svg")
			background-position -13.5px -136px
			height: 29px
			position absolute
			right 7em
			top 1.1em
			width 19px
		ul
			list-style-type none
			
			li
				 font-size 0.8em
				 color gris 			 
	nav
		color gris
		position absolute
		right 0
		top -2.46em
		ul 
			li
				-moz-transition:All 0.886s ease;
				-o-transition:All 0.886s ease;
				-webkit-transition:All 0.886s ease;
				box-sizing border-box
				display inline-block
				font-size 1.25em
				font-weight 300
				height 6.44em
				padding 1em 0 0 0
				text-align center
				transition:All 0.886s ease;
				width 3.9375em
				&:hover
					background gris
					color blanco
				&:last-child
					background azul
					border-radius 4px
					box-sizing border-box
					color blanco
					font-weight 400
					height 2.25em
					margin 0
					padding .5em 1.5em
					width 8.75em
							
button 
	background azul
	border 0
	border-radius 3px
	color blanco
	height 40px
	padding .5em 1.5em
	text-align center
	text-transform uppercase
footer
	display inline-block
	width 100%
	text-align center
	padding 1% 0 0% 0
	color blanco
	h5
		font-size 32px
	h4
		font-size 34px	
	ul 
		li
			display block
			text-align left
	ul 
		li 
			img
				margin 10px 10px 0 0			
#aliados
	background negro
	color blanco
	width 100%
	text-align center
	padding 2.75em 0
	h2
		font-size 2.25em
		font-weight 400
		text-transform uppercase
		margin 0			
#beneficios
	color gris
	font-size 1em
	padding 2.25em 0
	position relative
	background blanco
	height 29em
	box-sizing border-box
	.uno,.dos,.tres
		height 107px
		width 106px
	.uno
		background-position -6px -12px
	.dos
		background-position -138px -10px	
	.tres
		background-position -268px -12px
	article
		display inline-block
		float left
		margin 5% 3% 10% 3%	
		text-align center
		width 27%
		&:last-child
			margin 5% 0 10% 3%	
			
	h3
		font-size 1.31253em
		font-weight 400
#clientes
	display block
	width 100%
	color gris
	padding 2.75em 0
	aside
		font-family texto
		blockquote
			font-family titulo
			display inline-block
	h2
		font-size 2.25em
		font-weight 400
		text-transform uppercase
		margin 0
		text-align center
	h3
		font-size 1.31253em
		font-weight 400
	span
		font-size 21px
	article
		width 100%
		margin-top 5%
		display inline-block
#cliente-1
	font-size 1.1em
	font-style italic
	margin 0 1.25em
	text-align left
	blockquote
		width 50%
		display inline-block
		text-align left
		position relative
		top -15em
		span
			font-style normal
  	

#cliente-2
	width 35%
	float left
	margin-left 15%	
	blockquote
		text-align left										
#presentacion
	background url("../img/familia-seguros.png") no-repeat
	background-size cover
	box-sizing border-box
	height 32rem
	padding 6.5em 0 0 0
	position relative
	top 0
	article
		width 23%
		text-align center
		color gris
	h2
		font-family titulo
		font-size 3.4375rem
		font-weight 400
		margin 0
		text-align center
		text-transform uppercase
		span
			font-weight 700
			font-size 3.72rem
			top -.45em
			position relative
	h3
		font-size 1.125em
		margin 0
		font-family titulo
		font-weight 400
		margin -1em 0 1em 0 
	button
		line-height 10px
		padding 1em 3.4em
  		
#formulario
	background-color blanco
	width 40%
	height 415px
	float left
	margin-top 60px		
#soluciones
	color gris
	text-align center
	padding 2.75em 0
	article
		text-align left
		margin 2em auto 3em
		display block
		width 56%
		div
			display inline-block
			float left		
	h2
		font-size 2.25em
		font-weight 400
		text-transform uppercase
		margin 0	
	h3
		font-size 1.3125em
		font-weight 300
		margin 0
	p
		width 100%
		margin 0	
	button
		margin 5% 0 0 0 
		padding 1.5em 3em
		line-height 2px
#info
	text-align left
	width 40%
	float right
	margin-right 10%		
.otra-imagen
	width 60%
	height 106px
	background-color #D8D8D8
	margin-left 20%						

.articulo2
	display inline-block
	width 100%	
.button1
	float right
	font-size 26px
	color blanco
	width 140px
	height 30px
	text-align center
	margin-top 10px
	padding 5px 10px 5px 10px
	background-color azul
	border-radius 3px	
.contenedor2	
	display inline-block
	width 30%
	max-width 200px
	margin 5% 4% 0px 4%	
	div
		height 86px
.marca
	color blanco
	background-color gris
	height 106px
.contenedor
	max-width 960px
	margin auto
	position relative	
	

.icono
	background url("../img/iconos.svg")
	display block
	margin 0 auto
	
.persona
	background-position -196.5px -140px
	height 45px	
	left 0
	margin 0 1.1875em 1em 0
	position relative
	width 59px
		
.empresa
	background-position -110px -134.48px
	height 60px	
	left 0
	margin 0 1.1875em 1em 0
	position relative
	width 59px 	

			
	


.img-back
	width 100%
	float left
	z-index -9
	margin-top -600px
	img
		width 100%
		
.clear
	clear both					