blanco = #fff
gris = #566C7F
azul = #22A1E7
negro = #151A1E
texto = "futura-pt"
titulo = "proxima-nova"

body
	font-size 16px
	font-family texto
	font-weight 400
header
	height 6.625em
	position relative
	aside
		position absolute
		right 0
		top 2em
		ul
			list-style-type none
			
			li
				 font-size 0.8em
				 color gris 			 
	nav
		color gris
		position absolute
		right 0
		top -2.46em
		ul 
			li
				-moz-transition:All 0.886s ease;
				-o-transition:All 0.886s ease;
				-webkit-transition:All 0.886s ease;
				box-sizing border-box
				display inline-block
				font-size 1.25em
				font-weight 300
				height 6.44em
				padding 1em 0 0 0
				text-align center
				transition:All 0.886s ease;
				width 3.9375em
				&:hover
					background gris
					color blanco
				&:last-child
					background azul
					border-radius 4px
					box-sizing border-box
					color blanco
					font-weight 400
					height 2.25em
					margin 0
					padding .5em 1.5em
					width 8.75em
							
button 
	background azul
	border 0
	border-radius 3px
	color blanco
	height 40px
	padding .5em 1.5em
	text-align center
	text-transform uppercase
	width 100%
footer
	display inline-block
	width 100%
	text-align center
	padding 1% 0 0% 0
	color blanco
	h5
		font-size 32px
	h4
		font-size 34px	
	ul 
		li
			display block
			text-align left
	ul 
		li 
			img
				margin 10px 10px 0 0			
#aliados
	background negro
	color blanco
	width 100%
	text-align center
	padding 2.75em 0
	h2
		font-size 2.25em
		font-weight 400
		text-transform uppercase
		margin 0
		
	img
		margin 5% 4% 0px 4%
#beneficios
	color gris
	font-size 1em
	padding 2.25em 0
	position relative
	background blanco
	height 29em
	box-sizing border-box
	article
		display inline-block
		float left
		margin 5% 3% 10% 3%	
		text-align center
		width 27%
	h3
		font-size 1.31253em
		font-weight 400
#clientes
	display block
	width 100%
	text-align center
	color gris
	padding 2.75em 0
	h2
		font-size 2.25em
		font-weight 400
		text-transform uppercase
		margin 0
	h3
		font-size 1.31253em
		font-weight 400
	span
		font-size 21px
	article
		width 100%
		margin-top 5%
		display inline-block
	img
		width 28%
		margin-right 20%
		float right	
#cliente-1
	width 60%
	text-align center
	margin-left 20%
	blockquote
		text-align center		
#cliente-2
	width 35%
	float left
	margin-left 15%	
	blockquote
		text-align left										
#presentacion
	background url("../img/family.png") no-repeat
	background-size cover
	box-sizing border-box
	height 32rem
	padding 6.5em 0 0 0
	position relative
	top 0
	article
		width 23%
		text-align center
		color gris
	h2
		font-family titulo
		font-size 3.4375rem
		font-weight 400
		margin 0
		text-align center
		text-transform uppercase
		span
			font-weight 700
			font-size 3.72rem
			top -.45em
			position relative
	h3
		font-size 1.125em
		margin 0
		font-family titulo
		font-weight 400
		margin -1em 0 1em 0 
	
	
// Que rayos es esto?
	// img
	// 	float left
	// 	z-index -0009
	// 	width 100%	
	// 	margin-top -375px
#formulario
	background-color blanco
	width 40%
	height 415px
	float left
	margin-top 60px		
#soluciones
	color gris
	text-align center
	padding 2.75em 0
	h2
		font-size 2.25em
		font-weight 400
		text-transform uppercase
		margin 0
	
	article
		float left
		text-align left
		margin 7% 7% 0 15%
		width 70%
		div
			width 60px
			height 90px
			margin 20px 20px 0 0
			float left
			display inline-block
	button
		width 30%	
		margin 10% 
#info
	text-align left
	width 40%
	float right
	margin-right 10%		
.otra-imagen
	width 60%
	height 106px
	background-color #D8D8D8
	margin-left 20%						

.articulo2
	display inline-block
	width 100%	
.button1
	float right
	font-size 26px
	color blanco
	width 140px
	height 30px
	text-align center
	margin-top 10px
	padding 5px 10px 5px 10px
	background-color azul
	border-radius 3px		
.marca
	color blanco
	background-color gris
	height 106px
.contenedor
	max-width 960px
	margin auto
	position relative	
	
.phone
	width 20px
	float left	

// QUe rayos es esto otro?
// .img-back
// 	width 100%
// 	float left
// 	z-index -9
// 	margin-top -600px
// 	img
// 		width 100%
		
.clear
	clear both					