blanco = #fff
gris = #566C7F
azul = #22A1E7
header
	height 106px
nav
	float right
	color gris
	height 106px
	margin-top -111px
nav ul li
	display inline-block
	height 106px
	padding 20px 10px 10px 10px
aside
	float right
	margin-top -35px
aside li
	display block
aside ul
	margin-top -5px	
button 
	color blanco
	width 100%
	height 40px
	text-align center
	margin-top 10px
	padding 5px 10px 5px 10px
	background-color azul
	border-radius 3px
	border 0		
#presentacion
	img
		float left
		z-index -0009
		width 100%	
		margin-top -280px
.button1
	float right
	font-size 26px
	color blanco
	width 140px
	height 26px
	text-align center
	margin-top 10px
	padding 5px 10px 5px 10px
	background-color azul
	border-radius 3px		
.marca
	color blanco
	background-color gris
	height 106px
.contenedor
	max-width 960px
	margin auto
	position relative	
	
.phone
	width 20px
	float left	
.text1
	width 36%
	margin-top 10%
	text-align center	